*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}
body{
display: flex;
align-items: center;
flex-direction: column;
}
.color {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    margin: 2px;
    display: inline-block;
}

#pixel-board{
   display: grid;  
   gap: 3px;
   padding: 3px;
   background-color: rgb(255, 255, 255);
  
       
}
.pixel{
    width: 40px;
    height: 40px;
    border: 1px solid black;  
    background-color: white;
    margin: 0;
}

/* #clear-board, #board-size, #generate-board {
    padding: 5px;
    margin-left: 5px;
    border: 2px solid grey;
    border-radius: 4px;
} */

/* nav {
    background-color: black;
      

} */